#nadamas{
	background-color: white;
	padding: 5px;


}

#avi{
background-color: #4ab5e2;
color: white;
text-align: center;
padding: 20px;
font-size: 200%;
clear: right;
}

#nadamas2{
	background-color: white;
	padding: 30px;


}
.a{
	background-color: white;
}
table{
	margin-left: auto;
	margin-right: auto;
	border: thin solid;
	caption-side: bottom;
	border-collapse: collapse;
}
td,th{
	border: thin dotted;
	padding: 8px;

}
caption{
	font-style: italic;
	padding: 8px;
}