#nadamas{
	background-color: white;
	padding: 5px;
}

#avi{
background-color: #4ab5e2;
color: white;
text-align: center;
padding: 20px;
font-size: 200%;
clear: right;
}
#nadamas2{
	background-color: white;
	padding: 30px;
	overflow-x: auto;
}
.a{
	background-color: white;
}
table{
	overflow-x: auto;
	display: block;
}
td,th{
	border: thin dotted;
	padding: 8px;
}
caption{
	font-style: italic;
	padding: 8px;
}
td-hover{
	    background:#D0D3D4; 
		color: #D0D3D4;
}
