#nadamas{
	background-color: white;
	padding: 5px;


}

#avi{
background-color: #4ab5e2;
color: white;
text-align: center;
padding: 20px;
font-size: 200%;
clear: right;
}

#nadamas2{
	background-color: white;
	padding: 30px;


}
.a{
	background-color: white;
}